<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width",initial-scale="1.0">
        <title>Document</title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link href= "/public/assets/normalize.css" rel="stylesheet" type="text/css" /> 
        <link href= "/public/assets/skeleton.css" rel="stylesheet" type="text/css" /> 
    
    </head>
    <body>
        <a href = "/">
            <h1>Jol
        </h1>
        </a>
        <h3>File Processed</h3>
        <div id="list"> 
            <iframe src="/views" frameborders="0" height="400"  width="95%"></iframe></p>

        </div>
        <a href="/download" download="F1040EZ.json">
            <button class="button button-primary" type="submit">Download</button>
        </a>
    </body>
</html>