<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width",initial-scale="1.0">
        <title>Document</title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" src="css/normalize.css">
        <link rel="stylesheet" src="css/skeleton.css">   
    </head>
    <body>
        <h1>File Processed</h1>
        <div id="list"> 
            <iframe src="/views" frameborders="0" height="400"  width="95%"></iframe></p>

        </div>
        <a class="button button-primary" href="/">
        <button type="submit">Magic</button>
        </a>
        <a class="button button-primary" href="/download" download="F1040EZ.json">
            <button type="submit">Download</button>
        </a>
    </body>
</html>